<!-- TEMPLATES -->
<div class="template-header text-center">
  <i class="fa fa-plus fa-5x fa-fw margin-bottom"></i>
  <br>
  <h1 class="text-center">Add</h1>
  <hr>
  <div>
    <div class="form-group">
      <h4>Choose Category</h4>
      <select class="form-control" ng-model="category.selected" ng-options="o as o for o in category.options"></select>
    </div>
  </div>
  <br>
  <div >
    <h4>Question</h4>
    <div class="form-group">
      <input type="text" ng-model="question" class="form-control" placeholder="Question...">
    </div>
    <br>
    <div class="form-group">
      <h4>Answer</h4>
      <input type="text" ng-model="answer" class="form-control" placeholder="Answer...">
    </div>
  </div>
  <br>
  <div>
    <div class="form-group">
      <h4>Difficulty</h4>
      <select class="form-control" ng-model="difficulty.selected" ng-options="o as o for o in difficulty.options"></select>
    </div>
  </div>
  <button type="button" class="btn btn-primary create" ng-click="createCard()">
    Create
  </button>
