<!-- TEMPLATES -->
<div class="template-header text-center">
  <i class="fa fa-search fa-5x fa-fw margin-bottom"></i>
  <br>
  <h1 class="text-center">Browse</h1>
  <div class="container text-center">
    <label class="col-lg-6 text-center">
      Search:
      <input ng-model='searchFilter' type="text" class="form-control">
    </label>
    <label class="col-lg-6 text-center">
      Sort By:
      <input ng-model='sortOrder' type="text" class="form-control">
    </label>
  </div>

  <table class="table table-striped">
    <tbody>
      <tr >
        <td class="col-xs-1">
          <p ng-click='sortBy("index")'><b> # </b></p>
        </td>
        <td class="col-xs-2">
          <p ng-click='sortBy("category")'><b> Category </b></p>
        </td>
        <td class="col-xs-2">
          <p ng-click='sortBy("question")'><b> Question </b> </p>
        </td>
        <td class="col-xs-2">
          <p ng-click='sortBy("answer")'> <b> Answer </b></p>
        </td>
        <td class="text-center col-xs-2">
          <p ng-click='sortBy("difficulty")'><b>  Difficulty </b></p>
        </td>
      </tr>
      <tr ng-repeat='card in cards  | filter : searchFilter | orderBy:sortOrder track by $index'>
        <td class="col-xs-1">
          <p> {{ $index + 1}} </p>
        </td>
        <td class="col-xs-2">
          <p>  {{ card.category }} </p>
        </td>
        <td class="col-xs-2">
          <p>  {{ card.question }}</p>
        </td>
        <td class="col-xs-2">
          <p>  {{ card.answer}}</p>
        </td>
        <td class="col-xs-2">
          <p>  {{ card.difficulty}}</p>
        </td>
      </tr>
    </tr>
  </tbody>
  <tfoot>
    <hr>
  </tfoot>
</table>
</div>
