
<div class="template-header text-center">
  <i class="fa fa-film fa-5x fa-fw margin-bottom"></i>
  <br>
  <hr>
  <div class="well">
    <h2 class="text-center">
      What is blah blah blah blah?
    </h2>
  </div>
  <button type="button" class="btn btn-primary flip" ng-click=""  uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    FLIP
  </button>
  <button type="button" class="btn btn-primary next" ng-click="" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    NEXT
  </button>
</div>
